<h1>{{appName}}</h1>
<h3>{{title}}</h3>

<hr />
{{link-for appName 'http://www.ncl.ac.uk'}} |
<a href="/">Home</a> |
{{!-- <a href="/component-test">component-test</a> | --}}
<a href="/serializer-test">serializer-test</a> |
<a href="/results">Results</a> |
<a href="/post">Post (actions!)</a> |
<a href="/nationalities">Nationalities</a>
<hr />

{{colour}}

<hr />
<h2 id="title">Welcome to Ember.js</h2>

{{outlet}}


